.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.form {
  width: 80%;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px gray;
  padding: 1em;
}

.form-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5em;
}

.results-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em;
}

.command-row {
  justify-content: center;
}

.form-row-alt {
  background-color: rgb(245,245,245);
}

.base-margin-right {
  margin-right: 0em;
}

.qtr-padding {
  padding: .25em;
}

.form-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.add-item-button {
  align-self: center;
  max-width: 200px;
  margin-top: 1em;
}

.text-center {
  text-align: center;
}

mat-divider {
  margin-bottom: 2em;
}

@media only screen and (max-width: 810px) {
  .form-row-item {
    flex-basis: 100%;
  }
}

.description {
  margin-bottom: 1em;
  margin-right: 2em;
  margin-left: 2em;
}