<div class="container">
  <div class="form">

    <h1 class="text-center">Bread Baking Percentages Calculator</h1>

    <div class="form-section">
      <div *ngFor="let flour of model.flours; index as i" class="form-row" [ngClass]="{'form-row-alt': i % 2 === 1}">
        <mat-form-field class="form-row-item" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Flour" [value]="flour.name" type="text">
        </mat-form-field>
        
        <mat-form-field class="form-row-item" appearance="fill">
          <mat-label>Weight</mat-label>
          <input matInput placeholder="1000" [value]="flour.value" type="number" (change)="onFlourChange($event.target.value, flour.id)">
          <span matSuffix>g</span>
        </mat-form-field>

        <button mat-button (click)="deleteFlour(flour.id)" class="form-row-item" [disabled]="model.flours.length === 1">Delete</button>
      </div>

      <button mat-raised-button (click)="addNewFlour()" class="add-item-button">Add new flour</button>
    </div>


    <mat-divider></mat-divider>

    <div class="form-section">
      <div *ngFor="let ingredient of model.ingredients; index as i" class="form-row" [ngClass]="{'form-row-alt': i % 2 === 1}">
        <mat-form-field class="third-width base-padding" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ingredient" [value]="ingredient.name" type="text">
        </mat-form-field>
        
        <mat-form-field class="third-width base-padding" appearance="fill">
          <mat-label>Weight</mat-label>
          <input matInput placeholder="1000" [value]="ingredient.value" type="number" (change)="onIngredientValueChange($event.target.value, ingredient.id)">
          <span matSuffix>g</span>
        </mat-form-field>
  
        <mat-form-field class="third-width base-padding" appearance="fill">
          <mat-label>Percentage</mat-label>
          <input matInput placeholder="1000" [value]="ingredient.percentage" type="number" (change)="onIngredientPercentageChange($event.target.value, ingredient.id)" step=0.01>
          <span matSuffix>%</span>
        </mat-form-field>

        <button mat-button (click)="deleteIngredient(ingredient.id)" [disabled]="model.ingredients.length === 1">Delete</button>

      </div>

      <button mat-raised-button (click)="addNewIngredient()" class="add-item-button">Add new ingredient</button>
    </div>

    <mat-divider></mat-divider>

    <div class="form-section">
      <div>
        <mat-form-field class="form-row-item" appearance="fill">
          <mat-label>Total Weight</mat-label>
          <input matInput placeholder="1000" [value]="model.totalWeight" type="number" disabled=true>
          <span matSuffix>g</span>
        </mat-form-field>
      </div>

    </div>

    <mat-divider></mat-divider>

    <div class="form-section">
      <button mat-raised-button (click)="adjustRecipe(2)">Double</button>
      <button mat-raised-button (click)="adjustRecipe(0.5)">Halve</button>
    </div>

    <mat-divider></mat-divider>

    <div class="form-section">
      <button mat-raised-button (click)="reset()">Reset</button>
    </div>

  </div>
</div>
